<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171470004747-l5h38rqdmsm7v1b8tjiaedeqebnoo7dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171470004747-l5h38rqdmsm7v1b8tjiaedeqebnoo7dg</string>
	<key>API_KEY</key>
	<string>AIzaSyDzFXQsqaEix18MuTao9bO6Q0fUIJ-Z488</string>
	<key>GCM_SENDER_ID</key>
	<string>171470004747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mykynk.week4-hw4-mykynk</string>
	<key>PROJECT_ID</key>
	<string>myk-patika-hw</string>
	<key>STORAGE_BUCKET</key>
	<string>myk-patika-hw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171470004747:ios:7c9b695c12352900559d0e</string>
</dict>
</plist>